{% extends 'base.html.twig' %}

{% block title %}Connexion - MyContacts, votre application de gestion de contacts{% endblock %}

{% block body %}
    <div class="container-page">
        <form method="post">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div>
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, 
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1>Connexion</h1>

            <div>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" autocomplete="email" required autofocus>            
            </div>

            <div>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="_password" id="inputPassword" autocomplete="current-password" required>            
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div>
                <button type="submit">
                    Se connecter
                </button>
            </div>

            <p>Nouveau ? <a href="{{ path('app_register') }}">Inscrivez-vous</a></p>
        </form>        
    </div>
{% endblock %}
