{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container-page form-page">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="formulaire" id="form-register">
            <h1>Inscription</h1>   
                
            {{ form_start(registrationForm) }}
                <div class="custom-errors">
                    {{ form_errors(registrationForm.email) }}
                </div>
                <div class="form-element">
                    {{ form_row(registrationForm.email) }}                
                </div>
                <div class="custom-errors">
                    {{ form_errors(registrationForm.pseudo) }}
                </div>
                <div class="form-element">
                    {{ form_row(registrationForm.pseudo) }}                
                </div>
                <div class="custom-errors">
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
                <div class="form-element">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>
                <div class="custom-errors">
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>
                <div class="form-element" id="agree-terms-element">
                    {{ form_row(registrationForm.agreeTerms) }}                
                </div>
                <div class="form-element">
                    <button type="submit" class="btn bouton-action">S'inscrire</button>                
                </div>
            {{ form_end(registrationForm) }}   
            <p>Déjà inscrit ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>     
        </div>     
    </div>
{% endblock %}
