{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container-page">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div>{{ flash_error }}</div>
        {% endfor %}

        <div>
            <h1>Inscription</h1>   
                
            {{ form_start(registrationForm) }}
                
                <div class="form-errors">
                    {{ form_errors(registrationForm.email) }}
                </div>
                <div>
                    {{ form_row(registrationForm.email) }}                
                </div>

                <div class="form-errors">
                    {{ form_errors(registrationForm.pseudo) }}
                </div>
                <div>
                    {{ form_row(registrationForm.pseudo) }}                
                </div>

                <div class="form-errors">
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
                <div>
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>

                <div class="form-errors">
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>
                <div>
                    {{ form_row(registrationForm.agreeTerms) }}                
                </div>

                <div>
                    <button type="submit">S'inscrire</button>                
                </div>

            {{ form_end(registrationForm) }}   
            
            <p>Déjà inscrit ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>     
        </div>     
    </div>
{% endblock %}
